name: Deploy Nest.js to Docker Swarm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Registry
        run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push multi-arch image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t ${{ secrets.REGISTRY_URL }}/sys_express:latest \
            --push \
            .

      - name: Deploy via SSH to Docker Swarm
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEPLOY_SERVER }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.SWARM_MANAGER_SSH_KEY }}
          script: |
            ENV_PATH="/home/ubuntu/desktop/deploy/sys/config/env/.env"
            DEBUG_SECRETS_PATH="/home/ubuntu/desktop/deploy/sys/config/env/.secrets-debug"
            cat <<'EOF' > "$DEBUG_SECRETS_PATH"
            REGISTRY_PASSWORD=${{ secrets.REGISTRY_PASSWORD }}
            REGISTRY_URL=${{ secrets.REGISTRY_URL }}
            REGISTRY_USERNAME=${{ secrets.REGISTRY_USERNAME }}
            DEPLOY_SERVER=${{ secrets.DEPLOY_SERVER }}
            DEPLOY_USER=${{ secrets.DEPLOY_USER }}
            SWARM_MANAGER_SSH_KEY=${{ secrets.SWARM_MANAGER_SSH_KEY }}
            EOF
            docker service update \
            --with-registry-auth \
            $(grep -vE '^#|^$' $ENV_PATH | awk '{print "--env-add", $0}') \
            --image ${{ secrets.REGISTRY_URL }}/sys_express:latest sys_express
